
/* CSS Document */

body {
	font-family: "Fragment Core";
	background-repeat:none;
	background-image: url('background.jpg');
}

#header {
	margin-top: 35px;
	margin-bottom: 5px;
	margin-left: 10px;
	
}

h1 {
	color: orange;
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	padding:none;
	display: inline;
	text-align:center;

}
/* Navigaton Menu Styling */
.nav {
	display: inline;
	height: 40px;
	width: 540px;
	float: right;
	margin-right: 20px;
	font-size: 12.5pt;
	color:black;
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav ul li {
	list-style: none;
	list-style: none;
}

.nav ul li a { 
text-decoration: none;
float: left;
display: block;
padding: 10px 20px;

}
 
 a:hover {
	 color:white;
 }
 
 a:visited {
	 text-decoration: none;
 }
/*End Navigation Menu */

/* HERO IMAGE */
.heroimage {
	width: 96%;
	height: 550px;
	margin-left: 30px;
	margin-bottom: 30x;
	margin-top: 20px;
}
 /* END HERO IMAGE */
 
h2 {
	color:orange;
	margin-left: 35px;
	padding: 5px;
	font-size: 25pt;
}

.heroimage {
	border-radius: 5px;
	
}

/* Package Deals section (bottom of page)*/
.offer_1 {
	width: 405px;
	height: 250px;
	margin-left: 30px;
	float:left;
	margin-bottom: 50px;
	border-radius: 10px;
	
}


.offer_2 {
	width: 405px;
	height: 250px;
	margin-left: 30px;
	float:left;
	margin-bottom: 50px;
	border-radius: 10px;
}


.offer_3{
width: 405px;
	height: 250px;
	margin-left: 30px;
	float:left;
	margin-bottom: 50px;
	border-radius: 10px;
}

.offers {
	display: block;
}

/* End Package Deals */

p {
	margin-left: 10px;
	color:white;
	font-weight:bold;
	font-size: 17pt;
	margin-top: 160px;
	position: absolute;
	background: orange;
	padding:5px;
}


.price_tag {
	position: absolute;
	background: gold;
	width: 150px;
	height: 30px;
	font-size: 20pt;
	margin-top: -45px;
}

.offerphoto {
	margin-left: 10px;
	margin-top: 2px;
	margin-right: 15px;
	
}

h3 {
	position:absolute;
	margin-top: -4px;
	color:white;
}



h4 {
	color:white;
	margin-left: 20px;
	text-align:center;
	margin-bottom: 20px;
}

h5 {
	font-size: 25px;
	text-align: center;
	bottom: 20px;
	margin-top: 20px;
}


.form_input_space {
	background-color: white;
	height:25px;
	width:210px;
	margin-bottom: 30px;
	margin-left: 40px;
	margin-top: -20px;
}

#comment {
	background-color: white;
	height:70px;
	width:300px;
	margin-bottom: 80px;
	margin-left: 40px;
	margin-top: -20px;
}

#social_links {
	margin-top:100px;
	left:50%;
	text-align:center;
	margin-bottom:0pzpx;
}


#people {
	background-color: gray;
	width: 405px;
	height: 230px;
	margin-left: 40px;
	position: absolute;
	color: white;
	 border-radius: 25px;
}

#people2{
	background-color: gray;
	width: 405px;
	height: 230px;
	margin-left: 470px;
	position: absolute;
	color: white;
	 border-radius: 25px;
}

#people3{
	background-color: gray;
	width: 405px;
	height: 230px;
	margin-left: 900px;
	position: absolute;
	color: white;
	border-radius: 25px;
	
}

.info{

 width: 150px;
 height: 120px;
 margin-left: 125px;
 margin-top: 35px;
 position: relative;
 border-radius: 5px;
}

.test {
	
	width: 800px;
	height: 250px;
	margin-left: 255px;
	margin-top: 10px;
	color: white;
	background: gray;
	padding: 15px;
	
}
